:root {
    --primery-text-color: #212121;
    --secondery-text-color: #757575;
    --accent-text-color: #2196f3;
    --white-text-color: #ffffff;
    --main-background-color: #f5f5f5;
    --secondery-background-color: #2f303a;
    --button-background-color: #f5f4fa;
    --icons-main-color: #afb1b8;
}